.blogcard{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 5px 5px 17px -9px #000000; 
    box-shadow: 5px 5px 17px -9px #000000;

}
 .desc{
    text-align: center;
margin-top: 10px;
cursor: pointer; }
.right{
    margin: 5px 25px;
}
.img{
    padding: 0 10px;
    border-radius: 10px;
}